body {
  background-color: rgba(245, 245, 245, 0.44) !important;
  position: relative !important;
}

.login-box-part1 {
  background-color: #345b79;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.login-box-part2 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

@media only screen and (min-width: 1023px) {
  .login .login-box-part1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .login .login-box-part2 {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .login .login-box p {
    font-size: 18px;
  }
  .login .login-box h1,
  .login .form-title {
    font-size: 20px;
  }
}

.login .login-box button {
  border-radius: 25px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.login .login-box button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #345b79;
  border-radius: 10rem;
  z-index: -2;
}
.login .login-box button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #75a2b9;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.login .login-box button:hover {
  color: #fff;
}
.login .login-box button:hover:before {
  width: 100%;
}

.forget-password {
  margin-left: 28%;
  color: #345b79;
}

.login-box h1 {
  font-size: 1.483vw;
  letter-spacing: 5px;
  line-height: 40px;
}

.login-box p {
  word-spacing: 4px;
  font-size: 1.26vw;
}

.form-title {
  color: #345b79;
  letter-spacing: 4px;
  font-size: 1.483vw;
}

.swal-button {
  background-color: #597d99;
  transition: 0.5s;
  color: white;
}

.swal-button:hover {
  background-color: #a8c4d3;
}

.swal-icon--error__line {
  background-color: black;
  opacity: 0.7;
}

.swal-icon--error {
  color: black;
  opacity: 0.5;
}

.issue-message {
  font-family: "Old Antic Decorative";
}

.loading {
  color: #345b79;
  opacity: 0.7;
}

.login-wrap {
  height: 100vh;
}

.admin-panel-title {
  background-color: #345b79;
  font-family: "Arila", "Tahoma";
  letter-spacing: 8px;
  text-indent: 10%;
}

.footer {
  background-color: #345b79;
  letter-spacing: 5px;
  height: 40px;
  text-indent: 10%;
}

.sideBar {
  background-color: #345b79;
}
.sideBar .container {
  font-family: Andalus;
  color: white;
}

.sideBar li {
  background-color: transparent;
  border: none;
}

.logo svg {
  color: white;
  opacity: 1;
}

.list-group svg, .list-group a, .sideBar-container a {
  transition: 0.5s;
}

.list-group svg:not(.active):hover, .list-group a:not(.active):hover {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.logout {
  background-color: transparent;
  border: none;
}

.logout:hover {
  opacity: 0.5;
}

.active-link {
  opacity: 0.5;
}

.active {
  opacity: 0.5;
}

.home {
  background-color: rgba(245, 245, 245, 0.44);
}

.home h2 {
  color: #345b79;
  font-family: Andalus;
}

.requests-today {
  background-color: white;
  height: 210px;
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.requests-today button {
  outline: none;
  background-color: #345b79;
  transition: 1s;
}

.requests-today button:hover {
  background-color: #a8c4d3;
}

.overview-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  transition: 0.2s;
  height: 30vh;
}

.home svg {
  color: #345b79;
  opacity: 0.5;
  transition: 0.2s;
}

.home svg:hover {
  color: #345b79;
  opacity: 1;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
